@{
    ViewData["Title"] = "Home Page";
}
<style>
    .weui-grid__icon {
        text-align: center;
    }
    .weui-cell_access .weui-cell__ft:after {
        background-color: #fff;
    }
</style>
<div style="background-color:#03a9f4;padding:10px;">
    @if (false)
    {
        <!--未登录start-->
    <a class="weui-cell weui-cell_access" href="/uc/Account/Login" style="color:#fff;">
        <div class="weui-cell__hd" style="background-color:#fff; border-radius:50%;width:55px; height:55px;">

        </div>
        <div class="weui-cell__bd" style="padding:0px 15px;">
            注册/登录
        </div>
        <div class="weui-cell__ft"></div>
    </a>
        <!--未登录end-->
    }
    else
    {
        <!--已登录start-->
        <a class="weui-cell weui-cell_access" href="/uc/Account/Index" style="color:#fff;">
            <div class="weui-cell__hd" style="background-color:#fff;border-radius:50%;">
                <div style=" background:url(//pic.c-ctrip.com/platform/online/login/c_logo2020.png) no-repeat;border-radius:50%; width:55px; height:55px;">

                </div>
            </div>
            <div class="weui-cell__bd" style="padding:0px 15px;">
                张三<br />
                187****3971
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <!--已登录end-->
    }
</div>

<div class="weui-grids margin-bottom-10" style="background-color:#fff;">
    <a href="/Info/Index/Index" class="weui-grid">
        <div class="weui-grid__icon">
            <i class="fa fa-vcard-o" style="font-size: 28px;color: #f44336;"></i>
        </div>
        <p class="weui-grid__label">个人信息</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <i class="fa fa-thumbs-up" style="font-size: 28px;color: #03a9f4c7;"></i>
        </div>
        <p class="weui-grid__label">我的推荐</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <i class="fa fa-rmb" style="font-size: 28px;color: #FF9800;"></i>
        </div>
        <p class="weui-grid__label">余额提取</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <i class="fa fa-tasks" style="font-size: 28px;color:#FFEB3B;"></i>
        </div>
        <p class="weui-grid__label">我的评估</p>
    </a>
    <a href="/Info/Doc/Index" class="weui-grid">
        <div class="weui-grid__icon">
            <i class="fa fa-file-text" style="font-size: 28px;color: #673AB7;"></i>
        </div>
        <p class="weui-grid__label">申请材料</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <i class="fa fa-leanpub" style="font-size: 28px;color: #4CAF50;"></i>
        </div>
        <p class="weui-grid__label">申请方案</p>
    </a>
</div>
<div class="margin-bottom-10">
    <img src="~/img/u3.png" style="width:100%;" />
</div>