@{
    ViewData["Title"] = "个人信息";
}



<div class="page tabbar js_show">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel">


                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="/Info/Basic/Index">
                        <div class="weui-cell__bd">
                            基本信息
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/Info/EduBackground/Index">
                        <div class="weui-cell__bd">
                            教育背景
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/Info/Contact/Index">
                        <div class="weui-cell__bd">
                            紧急联系人（未满18周岁必填）
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/Info/Language/Index">
                        <div class="weui-cell__bd">
                            语言能力
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/Info/WorkExperience/Index">
                        <div class="weui-cell__bd">
                            工作经历
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>

            </div>
            <div class="weui-tabbar weui-tabbar-foot">
                <a href="/home/index" class="weui-tabbar__item weui-bar__item_on">
                    <i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;返回
                </a>
            </div>
        </div>
    </div>
</div>

