@{
    ViewData["Title"] = "个人中心";
}
<div class="page tabbar js_show">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel">
                <div class="weui-cells" style="margin-top:0;">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            账号
                        </div>
                        <div class="weui-cell__ft">187****3971</div>
                    </div>
                    <div class="weui-cell weui-cell_access" pickertype="default" pickerid="panelInvitation">
                        <div class="weui-cell__bd">
                            邀请码
                        </div>
                        <div class="weui-cell__ft">8JD6E2</div>
                    </div>
                    <a class="weui-cell weui-cell_access">
                        <div class="weui-cell__bd">
                            修改密码
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>
            </div>
            <div class="weui-tabbar weui-tabbar-foot">
                <a href="/home/index" class="weui-tabbar__item weui-bar__item_on">
                    <i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;返回
                </a>
            </div>
        </div>
    </div>
</div>
<div id="panelInvitation" class="picker-contnet" style="max-height:75%;">
    <div style="text-align:center; font-size:18px;">邀请码</div>
    对于邀请码的含义及使用说明对于邀请码的含义及使用说明对于邀请码的含义及使用说明对于邀请码的含义及使用说明对于邀请码的含义及使用说明
</div>