
@{
    ViewData["Title"] = "注册成功";
}
<style>
    body {
        background-color: #fff;
    }

    .container {
        padding: 10px;
    }
</style>

<div class="weui-msg" style="min-height:initial;">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area" style="padding:0px;">
        <h2 class="weui-msg__title">注册成功</h2>
        <p class="weui-msg__desc">恭喜您注册成功，我们将为您提供极致服务。<br />预祝您留学成功！</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            @*<a href="/apply/assess/index" class="weui-btn weui-btn_primary" style="color:#fff;">立刻获取推荐方案</a>*@
            <a href="/Home/index" class="weui-btn weui-btn_primary" style="color:#fff;">进入首页</a>
        </p>
    </div>
</div>


@*
    <div class="weui-msg" style="min-height:initial;">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area" style="padding:0;">
            <h2 class="weui-msg__title">注册失败</h2>
            <p class="weui-msg__desc">很遗憾注册失败，请您再尝试一次。</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:history.back();" class="weui-btn weui-btn_primary" style="color:#fff;"><i class="fa fa-chevron-circle-left fa-fw"></i> 返回</a>
            </p>
        </div>
    </div>
*@

