

<style>
    .weui-cell__bd {
        text-align: right;
    }
    .weui-tab__panel {
        background-color: #fff;
    }
    .weui-panel:after {
        border:0px;
    }
</style>
<div class="page tabbar js_show">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel">
                <div class="weui-panel" style="margin-top:0px;">
                    <div class="weui-panel__hd">
                        <div class="weui-cell P_0">
                            <div class="weui-cell__hd">教育背景（必填）</div>
                            <div class="weui-cell__bd">
                                <a class="weui-cell__ft color_fff" href="/info/EduBackground/Add"><i class="fa fa-edit fa-fw"></i>&nbsp;新增</a>
                            </div>
                        </div>
                    </div>
                    <div class="weui-flex wrapper"><div class="weui-flex__item"><span class="line"></span></div> <div class="weui-flex__item content">教育背景1</div> <div class="weui-flex__item"><span class="line"></span></div></div>
                    <div class="weui-panel__bd form" style="margin-bottom: 20px;">

                        <div class="weui_cells">

                            <div class="weui-cell">
                                <div class="weui-cell__hd">国家</div>
                                <div class="weui-cell__bd">
                                    澳大利亚
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">学历阶段</div>
                                <div class="weui-cell__bd">
                                    本科
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">学校名称</div>
                                <div class="weui-cell__bd">
                                    上海交大
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">在读年级</div>
                                <div class="weui-cell__bd">
                                    已毕业
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">专业名称</div>
                                <div class="weui-cell__bd">
                                    计算机科学与技术
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">在校成绩（均分或GPA）</div>
                                <div class="weui-cell__bd">
                                    89
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">起止时间</div>
                                <div class="weui-cell__bd" style="text-align:right;">
                                    2016-09-01
                                    -
                                    2020-07-31
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">备注</div>
                                <div class="weui-cell__bd">

                                </div>
                            </div>

                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item M_L_0">
                                <a href="/Info/EduBackground/Edit" class="weui-btn weui-btn_default btn-getVCode color_45c0e5"><i class="fa fa-edit fa-fw"></i>&nbsp;编辑</a>

                            </div>
                            <div class="weui-flex__item M_R_0">
                                <a onclick="Delete()" class="weui-btn weui-btn_default btn-getVCode color_45c0e5"><i class="fa fa-trash-o fa-fw"></i>&nbsp;删除</a>

                            </div>
                        </div>
                    </div>
                    <div class="weui-flex wrapper"><div class="weui-flex__item"><span class="line"></span></div> <div class="weui-flex__item content">教育背景2</div> <div class="weui-flex__item"><span class="line"></span></div></div>
                    <div class="weui-panel__bd form"  style="margin-bottom: 20px;">

                        <div class="weui_cells">

                            <div class="weui-cell">
                                <div class="weui-cell__hd">国家</div>
                                <div class="weui-cell__bd">
                                    澳大利亚
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">学历阶段</div>
                                <div class="weui-cell__bd">
                                    本科
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">学校名称</div>
                                <div class="weui-cell__bd">
                                    上海交大
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">在读年级</div>
                                <div class="weui-cell__bd">
                                    已毕业
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">专业名称</div>
                                <div class="weui-cell__bd">
                                    计算机科学与技术
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">在校成绩（均分或GPA）</div>
                                <div class="weui-cell__bd">
                                    89
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">起止时间</div>
                                <div class="weui-cell__bd" style="text-align:right;">
                                    2016-09-01
                                    -
                                    2020-07-31
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">备注</div>
                                <div class="weui-cell__bd">

                                </div>
                            </div>

                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item M_L_0">
                                <a href="/Info/EduBackground/Edit" class="weui-btn weui-btn_default btn-getVCode color_45c0e5"><i class="fa fa-edit fa-fw"></i>&nbsp;编辑</a>

                            </div>
                            <div class="weui-flex__item M_R_0">
                                <a onclick="Delete()" class="weui-btn weui-btn_default btn-getVCode color_45c0e5"><i class="fa fa-trash-o fa-fw"></i>&nbsp;删除</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="weui-tabbar weui-tabbar-foot">
                <a href="/Info/index/index" class="weui-tabbar__item weui-bar__item_on">
                    <i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;返回
                </a>
            </div>
        </div>
    </div>
</div>


    <!--BEGIN dialog1-->
    <div class="js_dialog" id="dialog_delete" style="display: none;" data-sourceId="0">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">系统提示</strong></div>
            <div class="weui-dialog__bd">确定删除？</div>
            <div class="weui-dialog__ft">
                <a href="javascript:void(0);" onclick="DeleteCancel()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                <a href="javascript:void(0);" onclick="DeleteConfirm()" class="weui-dialog__btn weui-dialog__btn_warn" style="color:#E64340;">确认</a>
            </div>
        </div>
    </div>
    <!--END dialog1-->

@section Scripts{ 
    <script>
         function Delete(id) {
             $('#dialog_delete').fadeIn(200);
        }
        function DeleteCancel() {
            $('#dialog_delete').fadeOut(200);
        }
        function DeleteConfirm() {
            $('#dialog_delete').fadeOut(200);
            //$.loading();
            //$.ajax({
            //    url: '',
            //    type: 'post',
            //    async: false,
            //    data: { id: pkId },
            //    success: function (data) {
            //        $.loadingclose();
            //        if (data && data == true) {
            //            $.operateSuccess();
            //            window.location.href = window.location.href;
            //        }
            //    }
            //})
            $.operateSuccess();
            window.location.href = window.location.href;
        }
    </script>
}